#animcontainer{
	width: 350px;
	height: 350px;
	margin: 2em auto;
	/*background-color: black;*/
	animation-name: initialScaleAndRotate,rotateImages;
	animation-duration: 1s,15s;
	animation-timing-function: linear,linear;
	animation-iteration-count: 1,infinite;
	animation-delay: 0s,1s;
}
#infobox{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: 250px;
	color:#fff;
	overflow:auto;
	align-items: center;	
	margin:0px;
	padding:5px;
	background-color: #798E9C;
	border:5px solid #5A819C;
	border-radius: 5px;
}
#topcenter{
	left:100px;
	top:-75px;
	animation: correctImages 15s linear infinite;
	animation-delay: 1s;
}
#topleft{
	left:-75px;
	top:58.6881px;
	animation: correctImages 15s linear infinite;
	animation-delay: 1s;
}
#topright{
	left:275px;
	top:58.6881px;
	animation: correctImages 15s linear infinite;
	animation-delay: 1s;
}
#bottomleft{
	top:275px;
	left:-8.1559px;
	animation: correctImages 15s linear infinite;
	animation-delay: 1s;
}
#bottomright{
	top:275px;
	left:208.1559px;
	animation: correctImages 15s linear infinite;
	animation-delay: 1s;
}
.thumbnail{
	position:absolute;
	width:150px;
	height:150px;
	overflow: hidden;
	border: 2px solid black;
	border-radius: 10px;
	transition: all .05s;
}
.thumbnail:hover{
	border: 2px solid white;
}
@keyframes initialScaleAndRotate {
	0%{transform:rotate(0deg) scale(0.0);}
	100%{transform:rotate(360deg) scale(1);}
}
@keyframes rotateImages {
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg)}
}
@keyframes correctImages{
	0%{transform:rotate(360deg)}
	100%{transform:rotate(0deg)}
}